; ---- Delta settings ----
[core]
    ; pager = delta
    ; pager = delta --side-by-side -w ${FZF_PREVIEW_COLUMNS:-$COLUMNS}
    ; pager = "{ [ $COLUMNS -lt 160 ] && delta || delta --side-by-side -w ${FZF_PREVIEW_COLUMNS:-$COLUMNS}; }"
    pager = "{                                                           \
    COLUMNS=$(tput cols);                                            \
    if [ $COLUMNS -ge 80 ] && [ -z $FZF_PREVIEW_COLUMNS ]; then      \
        delta --side-by-side -w $COLUMNS;                            \
    elif [ $COLUMNS -ge 160 ] && [ ! -z $FZF_PREVIEW_COLUMNS ]; then \
        delta --side-by-side -w $FZF_PREVIEW_COLUMNS;                \
    else                                                             \
        delta;                                                       \
    fi                                                               \
    }"

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    ; features = calochortus-lyallii
    navigate = true
    ; side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

; ---- Git LFS settings ----
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

; ---- Push settings ----
[push]
    autoSetupRemote = true

; ---- Colors for git status ----
[color "status"]
    header = normal
    added = green
    changed = red bold
    untracked = magenta bold
    branch = yellow bold
    untracked = cyan
    localBranch = yellow
    remoteBranch = green
    unmerged = blue

; all possible colors here: https://git-scm.com/docs/git-config#Documentation/git-config.txt-color

; ---- Reuse Recorded Resolution ---- 
[rerere]
	enabled = true
	autoUpdate = true

; ---- force push with lease alias ----
[alias]
	fpush = push --force-with-lease
