set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2

# vi settings                                         
$if mode=vi                
    # normal mode                           
    set keymap vi-command                                 
    # insert mode             
    set keymap vi-insert                          
    # remap escape
    "jk": vi-movement-mode   
$endif

# switch to block cursor before executing a command
RETURN: "\e\n"
set keymap vi-insert

# Those two are super helpful in insert mode
Control-k: previous-history
Control-j: next-history
